body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: smaller;
    margin: 32px 128px 64px 64px;
}
a {
    color: dodgerblue;
    font-weight: bold;
    padding: 1px 2px 1px 2px;
}
a:hover {
    color: dodgerblue;
    font-weight: bold;
    padding: 1px 2px 1px 2px;
    background: rgba(129, 161, 241, 0.2);
}
code {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    padding: 1px 2px 1px 2px;
}
div.div-title {
    padding: 12px 0px 0px 0px;
    font-size: xx-large;
}
div.div-header {
    padding: 8px 0px 0px 0px;
    font-size: large;
}
div.div-summary {
    padding: 4px 0px 0px 0px;
    font-size: small;
}
div.div-subtitle {
    padding: 4px 0px 0px 0px;
    font-size: small;
}
div.div-navigation {
    padding: 4px 0px 0px 0px;
    font-size: small;
}
span.span-code {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    color: blue;
    padding: 1px 2px 1px 2px;
}
.div-table a {
    color: dodgerblue;
    font-weight: bold;
    padding: 1px 2px 1px 2px;
}
.div-table a:hover {
    color: dodgerblue;
    font-weight: bold;
    padding: 1px 2px 1px 2px;
    background: rgba(129, 161, 241, 0.2);
}
.div-table {
	margin:16px;
    padding:0px;
	width:1200px;
	border:1px solid #000000;
}
.div-table table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	margin:0px;
    padding:0px;
}
.div-table td.td-name {
    width: 360px;
    vertical-align: top;
}
.div-table td.td-description {

}
.div-table tr:nth-child(odd) { 
    background-color:#e5e5e5; 
}
.div-table tr:nth-child(even) { 
    background-color:#ffffff; 
}
.div-table td {
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:small;
	font-family:Trebuchet MS;
	font-weight:normal;
	color:#000000;
}
.div-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}
.div-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.div-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.div-table tr:first-child td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	
    background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Trebuchet MS;
	font-weight:bold;
	color:#000000;
    letter-spacing: 2px;
}
.div-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	
    background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.div-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.div-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}