'.source.rules':
  'Rule':
    'prefix': '<rule'
    'body': '<rule>\n\t<name>$0</name>\n\t$1\n</rule>'
  'Rules':
    'prefix': '<rules'
    'body': '<rules>\n$0\n</rules>'
  'From':
    'prefix': '<from'
    'body': '<from>${0:FormKind}</from>'
  'Where':
    'prefix': '<where'
    'body': '<where>\n\tSource.${0:Property} == ${1:Value}\n</where>'
  'Select':
    'prefix': '<select'
    'body': '<select>\n\t$0\n</select>'
  'Update':
    'prefix': '<update'
    'body': '<update>\n\t$0\n</update>'
  'Insert':
    'prefix': '<insert'
    'body': '<insert into="${0:FormKind}">\n\t$1\n</insert>'
